# Aula III - Iterables
## Python's inherent `data structures`
- Lists (recap)
- Tuples
- Dicts
- Sets

## Lists
- **Ordered sequence** of elements

- **Mutable** (lists support index assignment)

In [16]:
list_ex = [10, 20, 30]
print(list_ex)

[10, 20, 30]

In [17]:
print(list_ex[0])
print(list_ex[1])
print(list_ex[2])

10
20
30

Lists are **mutable** - we can change specific elements in lists directly:

In [18]:
list_ex[0] = 'Zero'
print(list_ex)
print(list_ex[0])
print(list_ex[1])
print(list_ex[2])

['Zero', 20, 30]
Zero
20
30

### Methods
We can use the **methods** `.append()` and `.extend()` to include **new elements** in a lista:

- `append` adds an element to the end of a list;
- `extend` adds elements from another list (or other iterable) to the end of the list.

In [19]:
list_ex.append(40)
print(list_ex)

['Zero', 20, 30, 40]

In [20]:
a = [40,50,60,70]
for i in a:
    print(i)
    list_ex.append(i)

40
50
60
70

In [21]:
list_ex

['Zero', 20, 30, 40, 40, 50, 60, 70]

In [23]:
list_ex.extend([50, 60, 60])
print(list_ex)

['Zero', 20, 30, 40, 40, 50, 60, 70, 50, 60, 60, 50, 60, 60]

The `.extend()` method does not flatten lists!

In [24]:
minha_extensao = [70, [80, 90]]
list_ex.extend(minha_extensao)
print(list_ex)

['Zero', 20, 30, 40, 40, 50, 60, 70, 50, 60, 60, 50, 60, 60, 70, [80, 90]]

We can use the `.pop()` and `.remove()` methods to remove elements from lists:

* `pop` removes an element at a given index and returns it
* `removes` finds the first occurence of an element in the list and removes that occurence.

In [25]:
ultimo_elemento = list_ex.pop()
print(ultimo_elemento)
print(list_ex)

[80, 90]
['Zero', 20, 30, 40, 40, 50, 60, 70, 50, 60, 60, 50, 60, 60, 70]

In [26]:
primeiro_elemento = list_ex.pop(0)
print(primeiro_elemento)
print(list_ex)

Zero
[20, 30, 40, 40, 50, 60, 70, 50, 60, 60, 50, 60, 60, 70]

In [27]:
list_ex.remove(30)
print(list_ex)

[20, 40, 40, 50, 60, 70, 50, 60, 60, 50, 60, 60, 70]

In [28]:
list_ex.remove(60)
print(list_ex)

[20, 40, 40, 50, 70, 50, 60, 60, 50, 60, 60, 70]

### Slices

Besides *integer indexing*, lists support indexing through **slices** through the `[:]` notation, with syntax `[starting_index:ending_index]`

* `a_list[start:stop]` -> all the items in `a_list` between `start` and `end-1` indexes;
* `a_list[start:]` -> all the items in `a_list` from the `start` index to the end;
* `a_list[:stop]` -> all the items in `a_list` from the beggining to the `end` index;
* `a_list[:]` -> a copy of the entire list

In [60]:
list_ex = [1,2,3,4,5,6,7,8,9,10]
print(list_ex[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
print(list_ex[2:4])

[3, 4]

In [51]:
print(list_ex[:4])

[1, 2, 3, 4]

In [52]:
print(list_ex[1:])

[2, 3, 4, 5, 6, 7, 8, 9, 10]

We can also *count backwards* through negative indexing: the index `[-1]` is the **last element** of the list, `[-2]` the second-to-last, etc...

In [61]:
list_ex[-1:0]

[]

In [54]:
list_ex[-3:-1]

[8, 9]

### Challenge - unpacking lists

In [71]:
list_ex = [1, [2, [3, [4]]]]
print(list_ex)

[1, [2, [3, [4]]]]

In [72]:
a = []
while len(list_ex) > 0:
    i = list_ex.pop()
    if type(i) == list:
        list_ex.extend(i)
    else:
        a.append(i)

print(a)
a[::-1]

[4, 3, 2, 1]

[1, 2, 3, 4]

## Tuples
- **Ordered sequence** of elements

- **Imutable**, do not suppport index item assignment
### Criando uma tupla

In [73]:
tupla = (10,)
type(tupla)

tuple

In [74]:
tuple_ex = (10, 20, 30)
print(tuple_ex)

(10, 20, 30)

We can use multiple assignment to unpack a tuple (and a list!):

In [75]:
a, b, c = tuple_ex
print(a)
print(b)
print(c)

10
20
30

We can convert lists into uples and vice-versa through the `list()` and `tuple()` functions:

In [77]:
my_list = [10, 20, 30]
my_tuple = tuple(my_list)
print(my_list)
print(my_tuple)
print(type(my_tuple))

[10, 20, 30]
(10, 20, 30)
<class 'tuple'>

In [78]:
tuple_ex = tuple([10, 20, 30])
print(type(tuple_ex))

<class 'tuple'>

In [80]:
a = ('a', 3, [1,2,3])
print(type(a))

<class 'tuple'>

We can iterate through tuples with `for` loops:

In [81]:
minha_tupla = (0, 1, 2, 3, 4, 5)
for i in minha_tupla:
    print(i)

0
1
2
3
4
5

## Tuple methods

- `.count()`: counts the number of times a given value occurs in a tuple;
- `.index()`: returns the first index of a given element in a tuple.

In [99]:
y = (1, 3, 7, 4, 6, 3, 8, 8, 'Pedro')
y.count(8)

2

In [100]:
y.index(8)

6

In [102]:
x = -1
for x in y:
    if y.count(x) <= 0:
        print(f'{x} is not in {y}')
    else:
        print(x)

1
3
7
4
6
3
8
8
Pedro

(These methods also exist in lists):

In [103]:
y_list = list(y)

In [104]:
y_list.count(8)

2

In [105]:
y_list.index(8)

6

## Native functions - `sorted()`, `range()` e `len()`

- `sorted()`: Order a tuple (or any **iterable**);
- `range()`: creates an iterable from two integers.

In [106]:
y = (1, 3, 7, 4, 6, 3, 8, 8)

In [107]:
print(sorted(y, reverse=True))

[8, 8, 7, 6, 4, 3, 3, 1]

The `sorted()` function does not change the original tuple - if we want to store the sorted values we must do so explictly through *variable assignment*:

In [108]:
y

(1, 3, 7, 4, 6, 3, 8, 8)

In [115]:
my_range = range(10)
print(my_range)

range(0, 10)

The range functions create a **lazy** iterable: to see all it's values we must convert it to a list or loop through it with a for:

In [116]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [123]:
a = list(range(0,21,2))
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [117]:
list(my_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The `len()` function returns the number of elements in an **iterable**:

In [118]:
len([1, 2, 3])

3

In [124]:
len(a)

11

# Dictionaries
## What is a dictionary?

In the real world, a book containing unique **words** and the different **meanings** of each word. In Python `dicts` are a collection of `key : value` pairs:

`keys`: are the **unique** words;

`values`: the meanings.

## Creating a Dictionary

- Syntax `{key1: value1, key2 : value2}`

In [125]:
my_dict={}

In [126]:
my_dict=dict()

In [127]:
type(my_dict)

dict

In [138]:
my_dict = {
            'Beans': 10,
            'Rice': 8,
            'Bananas': 1
          }
print(my_dict)

{'Beans': 10, 'Rice': 8, 'Bananas': 1}

We can add new elements to a `dict` using **index notation**:

In [139]:
my_dict['Soybeans'] = 19
print(my_dict)

{'Beans': 10, 'Rice': 8, 'Bananas': 1, 'Soybeans': 19}

Each `key` in a `dict` **MUST BE UNIQUE**! If we try to create duplicate keys, the `dict` will simply **update** that `key`'s value:

In [140]:
my_dict = {
            'Soybeans': 10,
            'Soybeans': 8,
            'Soybeans': 1
          }
my_dict['Soybeans'] = 9
print(my_dict)

{'Soybeans': 9}

We can use this explictly to change the `values` in a `dict`:

In [143]:
my_dict = {
            'Soybeans': 10,
            'Beans': 8,
            'Rice': 1
          }
my_dict

{'Soybeans': 10, 'Beans': 8, 'Rice': 1}

In [144]:
my_dict['Soybeans'] = 15
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1}

Podemos guardar los valores en variables

In [152]:
preco_10kg_gb = my_dict['Soybeans']*10
print(f'The price for 10 kg is ${preco_10kg_gb} ')

The price for 10 kg is $150

## Dictionary methods

Although a `dict` is not directly **iterable** - we can't loop through it - we can use it's methods to loop through 3 different iterables composing the `dict`

- `.values()` is a list of the different `values` in the `dict`;

- `.keys()` is a list of the different `keys` in the `dict`;

- `.items()` is a list of the different `(key, value)` pair (represented as tuples).

In [153]:
my_dict.values()

dict_values([15, 8, 1])

In [154]:
my_dict.keys()

dict_keys(['Soybeans', 'Beans', 'Rice'])

In [155]:
my_dict.items()

dict_items([('Soybeans', 15), ('Beans', 8), ('Rice', 1)])

## Adding items to the dictionary

We can **add** a `key` to a `dict` using **index notation** (`[key_name]`):

In [156]:
my_dict['Chickpeas'] = 9

In [157]:
my_dict.keys()

dict_keys(['Soybeans', 'Beans', 'Rice', 'Chickpeas'])

In [158]:
my_dict

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 9}

We can also use the `.update()` method to update the values and add keys to a `dict` from a different `dict

In [159]:
new_dict = dict()
new_dict['Chickpeas'] = 5
new_dict['Whole-grain Rice'] = 8.5
print(new_dict)

{'Chickpeas': 5, 'Whole-grain Rice': 8.5}

In [160]:
my_dict.update(new_dict)
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5}

In [161]:
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5}

We can also use different iterables to add/update values in a dictionary:

In [162]:
keys = ['White Beans', 'Syrian Chickpeas', 'White Beans']
values = [9.50, 13, 8.50]

In [163]:
for i in range(len(keys)):
    print(keys[i], values[i])
    my_dict[keys[i]] = values[i]

White Beans 9.5
Syrian Chickpeas 13
White Beans 8.5

In [164]:
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5, 'White Beans': 8.5, 'Syrian Chickpeas': 13}

We can also use multiple assignment in a `for` loop to add/update `key : value` pairs from an uple to a dict:

In [166]:
new_prices = [('Lentilha Verde', 9), ('Abobrinha', 3), ('Beringela', 8)]

In [167]:
for product, price in new_prices:
    my_dict[product] = price
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5, 'White Beans': 8.5, 'Syrian Chickpeas': 13, 'Lentilha Verde': 9, 'Abobrinha': 3, 'Beringela': 8}

## Values can be anything!

In [168]:
casa = dict()
casa['id'] = 1
casa['size'] = 80
casa['lot_size'] = (20, 30)
casa['address'] = dict()
casa['address']['street'] = 'Al. das Maritacas'
casa['address']['number'] = 1637
casa['address']['neigh'] = 'Cidade Jardim'
casa['address']['zip'] = 39272440
print(casa)

{'id': 1, 'size': 80, 'lot_size': (20, 30), 'address': {'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440}}

In [169]:
print(type(casa))
print(type(casa['lot_size']))
print(type(casa['address']))

<class 'dict'>
<class 'tuple'>
<class 'dict'>

In [172]:
print(casa['address']['street'])

Al. das Maritacas

## Real world example

Dictionaries are often used to represent complex data in real-world applications. Let's see how they show up when we use an **API** to find weather data for specific cities!

In [173]:
import requests
TOKEN = 'c0c9147ec699d5205de0cbb2f5ad611c9aae0b41edeaf6092728677d06356836'
url = "https://api.ambeedata.com/weather/latest/by-lat-lng"
headers = {
    'x-api-key': TOKEN,
    'Content-type': "application/json"
    }

In [174]:
querystring = {"lat":"19","lng":"-99"}
response = requests.request("GET", url, headers=headers, params=querystring)
ql_ar_mx = response.json()

In [175]:
querystring = {"lat":"-21","lng":"-47"}
response = requests.request("GET", url, headers=headers, params=querystring)
ql_ar_pira = response.json()

In [176]:
print(ql_ar_mx)

{'message': 'success', 'data': {'time': 1666106772, 'lat': 19, 'lng': -99, 'summary': 'Overcast', 'icon': 'cloudy', 'temperature': 60.85, 'apparentTemperature': 62.68, 'dewPoint': 60.85, 'humidity': 1, 'pressure': 1018.3, 'windSpeed': 1.88, 'windGust': 3.87, 'windBearing': 88, 'cloudCover': 0.97, 'uvIndex': 4, 'precipIntensity': 0.0056, 'precipProbability': 0.11, 'precipType': 'rain', 'visibility': 10, 'ozone': 251.7}}

In [177]:
print(ql_ar_pira)

{'message': 'success', 'data': {'time': 1666106773, 'lat': -21, 'lng': -47, 'summary': 'Partly Cloudy', 'icon': 'partly-cloudy-day', 'temperature': 84.45, 'apparentTemperature': 84.45, 'dewPoint': 54.29, 'humidity': 0.36, 'pressure': 1016.2, 'windSpeed': 9.42, 'windGust': 9.42, 'windBearing': 35, 'cloudCover': 0.5, 'uvIndex': 9, 'precipIntensity': 0, 'precipProbability': 0, 'visibility': 10, 'ozone': 278.4}}

In [180]:
ql_ar_pira['data']['temperature']

84.45

## Iterating over a dictionary

In [181]:
for chave in casa.keys():
    print(f'{chave}: {casa[chave]}')

id: 1
size: 80
lot_size: (20, 30)
address: {'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440}

In [182]:
for atributo in casa.items():
    print(atributo)

('id', 1)
('size', 80)
('lot_size', (20, 30))
('address', {'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440})

In [183]:
for valor in casa.values():
    print(valor)

1
80
(20, 30)
{'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440}

## Iterating over items

In [184]:
my_dict = {
            'Chickpeas': 10,
            'Beans': 8,
            'Rice': 1
          }

In [185]:
print(my_dict.items())

dict_items([('Chickpeas', 10), ('Beans', 8), ('Rice', 1)])

In [186]:
for grao, preco in my_dict.items():
    if grao == 'Beans' or grao == 'Chickpeas':
        print(preco)

10
8

## The `in` operator

In [187]:
1 in [1, 2, 3]

True

In [188]:
8 in my_dict.values()

True

This operator works in any iterable!

In [189]:
'abcd' in 'abc'

False

In [190]:
'abc' in 'abcd'

True

In [191]:
1 in (1, 2, 3)

True

# `sets`

Sets are collections of **unique elements** - a `dict`'s keys is a `set`!

In [192]:
my_list = ['Pedro', 'Adriano', 'Pedro', 'Adriano', 'Pedro', 'Adriano']

In [193]:
my_list

['Pedro', 'Adriano', 'Pedro', 'Adriano', 'Pedro', 'Adriano']

In [194]:
set(my_list)

{'Adriano', 'Pedro'}

We can use set conversion to find out how many unique elements an iterable has:

In [195]:
list_x = [1,2,3,4,4,4,4,4,5,6,6,6,7,7,8]
set_x = set(list_x)
print(f'Size of the list: {len(list_x)}, size of the set: {len(set_x)}')

Size of the list: 15, size of the set: 8

## `set` methods

- `A.intersection(B)` common elements between sets A & B;
- `A.difference(B)` elements in A not in B;
- `A.union(B)` the set of all elements in A or in B.

In [196]:
x = {1, 2, 3, 4, 5, 6, 7, 8}

In [197]:
y = {6, 7, 8, 9, 10, 11, 12}

In [198]:
x.intersection(y)

{6, 7, 8}

In [199]:
y.intersection(x)

{6, 7, 8}

In [200]:
x.difference(y)

{1, 2, 3, 4, 5}

In [201]:
y.difference(x)

{9, 10, 11, 12}

In [202]:
x-y # x.difference(y)

{1, 2, 3, 4, 5}

In [203]:
y-x # y.difference(y)

{9, 10, 11, 12}

In [204]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [205]:
(x-y).union(y-x)

{1, 2, 3, 4, 5, 9, 10, 11, 12}

In [206]:
x.symmetric_difference(y)

{1, 2, 3, 4, 5, 9, 10, 11, 12}

In [207]:
x = set([1,2,3])

In [209]:
set([1,2,3,25]).issubset(x)

False

In [210]:
# Practical example
col_names = set(['qtd_cartoes', 'vlr_cartao','qtd_cheques','vlr_cheques'])
incoming_col_names = set(['qtd_cartoes', 'vlr_cartao','qtd_cheques','vlr_cheques'])

# print(f'Missing columns: {set(col_names) - set(incoming_col_names)}')
missing_columns = col_names.difference(incoming_col_names)
print(f'Missing columns: {missing_columns}')

Missing columns: set()

In [211]:
my_dict.values()

dict_values([10, 8, 1])